.container { 
    margin: auto;
    display: table;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    background: #000;
    
}


 .app {
 text-align: center;
}

.weather-info {
    text-align: center;
}

.info {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: lightblue;
}

.pointer:hover {
    color: blue;
}